<div class="col-md-12">
 
        <table class="table" style="border: 1px solid;width: 100%;text-align: left;">
            <thead>
                <tr style="text-align: center;">
                    <th colspan="4">Event Details</th>
                </tr>
                <tr>
                    <th>No #</th>
                    <th>Event Name</th>
                    <th>Event Id</th>
                    <th>Event Status</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Capacité</th>
                    <th>En extérieur</th>
                    <th>Age limite</th>
                </tr>
            </thead>
            <tbody *ngIf="EventDetails && EventDetails?.length !=0">
                <tr *ngFor="let o of EventDetails; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{o.name}}</td>
                    <td>{{o.eventId}}</td>
                    <td>{{o.status}}</td>
                    <td>{{o.addressObj.number}} {{o.addressObj.street}} , {{o.addressObj.postal_code}} {{o.addressObj.city}} , {{o.addressObj.country}}</td>
                    <td>{{o.orgObj.date}}</td>
                    <td>{{o.orgObj.capacity}}</td>
                    <td>{{o.orgObj.outdoors}}</td>
                    <td>{{o.orgObj.age_limit}}</td>
                </tr>
            </tbody>

        </table>
    
</div>
